<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>P치gina Inicial</title>
</head>

<body class="text-center">
    <div class="contenedor">
        <h1>P치gina de Inicio</h1>
        <% if (login) { %>
            <h1>Usuario conectado: <strong>
                    <%= name %>
                </strong></h1>
            <a href="logout" class="a-logout">Cerrar sesi칩n</a>
            <%} else { %>
                <h1><strong>
                        <%= name %>
                    </strong></h1>
                <a href="login" class="a-login">Iniciar sesi칩n</a>
                <% } %>
    </div>
</body>

</html>