<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
    <main class="container">
        <div class="login">
            <h1>Login</h1>
            <form action="/auth" method="POST">
                <input type="text" name="user" placeholder="Usuario" autofocus required autocomplete="off">
                <label for="">
                    <input type="password" name="pass" placeholder="Contraseña" id="password" required>
                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                </label>
                <input type="submit" class="btn-success" value="Ingresar">
            </form>
        </div>

        <%- include('./partials/sweetalert'); %>

    </main>

    <%- include('./partials/footer'); %>